.flag{
    position: relative;
    height: 180px;
    width: 300px;
    border: 2px solid black;
}

.g{
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: #008C45;
}


.w{
    position: absolute;
    width: 100px;
    height: 100%;
    background-color:white;
    left: 100px;
}

.r{
    position: absolute;
    width: 100px;
    height: 100%;
    background-color:#CD212A;
    left: 200px;
}